#uploadButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#uploadButton:hover {
    background-color: #0056b3;
}

.post {
    display: flex;
    justify-content: start;
    align-items: start;
}

.icon {
    margin-top: 50px;
    margin-right: 50px;
    width: 150px;
    height: 150px;
}
#output {
    
    list-style: none;
}