
html, body {
    padding: 0;
    margin: 0;
}

@media(max-width:600px){
    header {
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: center;
        background-color: #E6E5E4;
        margin-top: 5px;
    }
}

@media(min-width:601px){
    header {
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        margin-top: 5px;
    }
}

body {
    height: 100%;
    width: 100%;
    background-color: #E6E5E4;
}

#form {
    padding: 30px 0px;
}


.textarea {
    background-color: #8e8eed;
    margin-bottom: 30px;
    width: 100%;
}

#ymd {
    margin-bottom: 30px;
    margin-left: 30px;
    font-size: 18px;
}

.SBD {
    display: flex;
    justify-content: start;
}

.sbd {
    padding-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
}

.maintext {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.menu {
    width: 150px;
    height: 30px;
}

.weight-wrap {
    display: flex;
    justify-content: center;
    gap: 10px;
}

@media(max-width:600px){
    .weight {
        width: 80px;
        height: 25px;
        font-size: 16px;
    }
}

@media(min-width:601px){
    .weight {
        width: 150px;
        height: 25px;
        font-size: 18px;
    }
}

.rep-wrap {
    display: flex;
    justify-content: center;
    gap: 10px;
}

@media(max-width:600px){
    .rep {
        width: 50px;
        height: 25px;
        font-size: 16px;
    }
}

@media(min-width:601px){
    .rep {   
        width: 150px;
        height: 25px;
        font-size: 18px;
    }
}

.RM {
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.max, .RM1 {
    margin-top: -5px;
}

.setbutton {
    padding-bottom: 30px;
    text-align: center;
    cursor: pointer;
}

.addset {
    cursor: pointer;
}

.formbutton {
    text-align: center;
}

.addform {
    cursor: pointer;
}

.save {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    margin-bottom: 120px;
    padding: 30px 30px;
    list-style: none;
    font-size: 20px;
}

#save, #clear {
    background-color: gold;
    padding: 4px 15px;
    border-radius: 10px;

}

#save:hover, #clear:hover {
    text-decoration: underline;
    cursor: pointer;
    background-color: #FFFFCC;
}

footer {
position: fixed;
bottom: 0;
width: 100%;
}

@media(min-width:601px){
    #footer_ul {
        display: flex;
        justify-content: center;
        gap: 10%;
        list-style: none;
        background-color: #6495ed	;
        margin-top: 30px;
        padding: 30px;
    }
}

@media(max-width:600px){
    #footer_ul {
        display: flex;
        justify-content: center;
        gap: 10%;
        font-size: 12px;
        list-style: none;
        background-color: #6495ed	;
        margin-top: 30px;
        margin-bottom: 0;
        padding: 20px;
    }
}
